/* START NAVBAR */
#navbar{
	background-color:black;
	padding:5px;
	padding-left:20px;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.6);
}
#collapsibleNavbar{
	margin-right:125px;
}
#logoimage{
	height:35px;
}
.navbar-brand{
	padding:0px;
	padding-left:3px;
}
.navbar-nav{
	width:100%;
}
.nav-item{
	display:block;
	width:20%;
}
.navbar-dark .navbar-nav .nav-link{
	font-family:'Barlow Semi Condensed', sans-serif;
	color:white;
	font-size:15px;
	text-align:center;
	text-shadow: 2px 1px 2px black;
}
.nav-link{
	font-family:'Barlow Semi Condensed', sans-serif;
	color:white;
	font-size:15px;
	text-align:center;
	text-shadow: 2px 1px 2px black;
}
.navbar-dark .navbar-nav .nav-link-active{
	color:#f2f2f2ab;
}
.nav-link-active{
	color:black;
}
.nav-link:hover{
	color:#f2f2f2ab;
}
.navbar-toggler {
    border:1px solid white;
}
.navbar-dark .navbar-toggler-icon{
	background-image:url("/mainassets/menuicon_white.svg")
}
/* END NAVBAR */