/* START NAVBAR */
#navbar{
	background-color:black;
	padding:5px;
	padding-left:20px;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.6);
}
#collapsibleNavbar{
	margin-right:125px;
}
#logoimage{
	height:35px;
}
.navbar-brand{
	padding:0px;
	padding-left:3px;
}
.navbar-nav{
	width:100%;
}
.nav-item{
	display:block;
	width:20%;
}
.navbar-dark .navbar-nav .nav-link{
	font-family:'Barlow Semi Condensed', sans-serif;
	color:white;
	font-size:15px;
	text-align:center;
	text-shadow: 2px 1px 2px black;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color:#f2f2f2ab;
}
.navbar-dark .navbar-nav .nav-link-active{
	color:#f2f2f2ab;
}
.navbar-dark .navbar-toggler-icon{
	background-image:url("/mainassets/menuicon_white.svg")
}
/* END NAVBAR */

#filler {
	width:100%;
	height:50px;
}
#content_container{
	height:100%;
	background-color:#f2f2f2;
}
/* START INFO CONTAINER */
#info_container{
	position:fixed;
	background-color:#f2f2f2;
	height:calc(100% - 50px);
	width:300px;
	top:50px;
	right:0px;

	padding: 40px 20px 0px 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	color:black;
}
#title{
	line-height:32px;
}
#caption{
	font-size:20px;
	color:#4d4d4d;
}
#description{
	padding-top:20px;
	font-size:18px;
	margin-bottom:50px;
}
/* END INFO CONTAINER */

/* START MEDIA CONTAINER */
#media_container{
	width:auto;
	margin-right:300px;
	background-color:#f2f2f2;
}
#media_image{
	height:auto;
	max-width:100%;
}
/* END MEDIA CONTAINER*/

@media screen and (max-width: 1000px) {
	#info_container{
		height:auto;
		width:100%;
		position:relative;
	}
	#media_container{
		margin-right:0px;
	}
}
@media screen and (max-width: 800px){
	.navbar-dark .navbar-nav .nav-link{
		text-align:left;
	}
}